.nav {
    grid-area: n;
    background-color: #545454;
    padding: 20px;
    border-radius: 15px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.active {
    font-size: 150%;
}

.siteBar {
    margin-top: 20px;
}