.descriptionBlock {
    padding: 10px;
}
.descriptionBlock img {
    height: 200px;
    width: 200px;
}
.item img {
    border-radius: 15px;
    width: 100%;
}

.contact {
    padding-left: 10px;
}

.formSummaryError {
    border: red 2px solid;
    padding: 5px;
    color: red;
}