.dialogs {
    color: white;
    text-decoration: none;
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems a {
    color: white;
    text-decoration: none;
}

.dialogsItems .dialog {
    padding: 10px;
}

.messages {

}

.messages .message {
    padding: 10px;
}