.dialogs {
    color: white;
    text-decoration: none;
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.dialogsItems .dialog {
    padding: 10px;
}

.dialog img {
    width: 20px;
    border-radius: 10px;
}

.messages .message {
    padding: 10px;
}